# This file is meant to override docker-compose.yml and olso have environment variables substituted
version: "2"
services:
  web:
    image: danbaragan/ecolex_web:<$EDW_BUILD_VER or the image tag here>
    command: debug
    tty: true
    stdin_open: true
    volumes:
      - <the local ecolex source dir here>:/home/web/ecolex
    # Use env vars instead of hardcoded values if possible; - VAR=${VAR}
    environment:
      - EDW_RUN_WEB_DEBUG=True
      - EDW_RUN_WEB_STATIC_ROOT=static
    restart: "no"

  staticdata:
    command: ["true"]

  solr:
    image: danbaragan/ecolex_solr:<$EDW_BUILD_VER or the image tag here>
    # Use env vars instead of hardcoded values if possible; - VAR=${VAR}
    environment:
      - EDW_RUN_SOLR_HEAP_MB=200
      - EDW_RUN_SOLR_LOG_MB=10
    restart: "no"

  maria:
    env_file:
      - deploy/maria/docker.env.defaults
    restart: "no"
