# Rename into secret.env
# Place environment variables that are sensitive and deployment specific here.
# secret.env file is not meant to be commited to any repo
EDW_RUN_WEB_FAOLEX_API_KEY=some_hex_digest_secret_key
MYSQL_DATABASE=ecolex
MYSQL_USER=ecolex
MYSQL_PASSWORD=ecolex-password
MYSQL_ROOT_PASSWORD=root-password
